@charset "utf-8";

* { margin:0; padding:0; }


html { 
	height: 100%;
/*	overflow: hidden;*/
	-webkit-font-smoothing: antialiased;
  	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%; 
}

 html, body {
	margin: 0 auto; 
	width: 100%;
	height: 100%; 
    color: #fff;	 
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
	
	-webkit-perspective: 1px;
	perspective: 1px;				
	-webkit-transform: scale3d(1, 1, 1); 
	transform: scale3d(1, 1, 1);				
	transform: translate3d(0, 0, 0);				
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;				
	-webkit-backface-visibility: hidden;	
	backface-visibility: hidden;
	
	padding-bottom: 20px;
}

#wrapper {
	/*padding: 20px;*/
	width: 50%;
	height: 100%;		
    margin: auto; 
}

.header {
	height: 100%;	
	/*padding: 0 15px;*/
}

.header {
	box-sizing: border-box;
	min-height: 25vh;
	
	-webkit-transform-style: inherit;
	transform-style: inherit;
	
	/*transform: translateY(0px);*/
}

.header p { 
	background-color: hsla(0, 0%, 100%, 0.2); 
}

.header,
.header::before { 
	background: 50% 50% / cover; 
}

.header::before {
  content: "";
  position: fixed; /* absolute */
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  background-color: #000;
  background-image: url(../images/parallax.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%), url('../images/parallax.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 
	
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  
  z-index: -1;
  min-height: 50vh;
}

.header * {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
/*  padding: 1em 0;*/
}


#title {
	position: relative;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
	/* padding: 1em 0; */
}



#logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -250px; /* Half the width */
}


.container {
	/* float: left;*/
	position: relative;	
	width: 94%;
	/*margin: auto;*/
	margin: 0 auto 8px auto;
	/*padding: 4px 13px 13px 6px;*/
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 5px;
	/*line-height: 1.7;*/
	/*  max-width: 32em;
	padding: 5% calc(50% - 16em) 35%;*/

	z-index: 2;
	overflow: hidden;
}



#content {
	width: 480px;
	float: left;
	padding: 5px 15px;
	clear: both;
}
#middle {
	width: 400px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}
#sidebar {
	width: 948px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear: both;
    /*padding: 13px 15px;*/
	  margin-bottom: 0;
}



.section-parallax {}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.copywrong {
  /* ... */
}



