@charset "utf-8";

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* { box-sizing: border-box; margin: 0; padding: 0; border: 0; }


div {
  box-sizing: border-box;
  }


html { 
	height: 100%;
/*	overflow: hidden;*/
	-webkit-font-smoothing: antialiased;
  	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%; 
}

 html, body {
	margin: 0 auto; 
	width: 100%;
    color: #fff;	 
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
    /*height: 500px;*/
	height: 100%;
	min-height: 100%;
	/*padding-bottom: 20px;*/
}


.hardware-acceleration {	
	-webkit-perspective: 1px;
	perspective: 1px;	
	-webkit-transform: scale3d(1, 1, 1); 
	transform: scale3d(1, 1, 1);	
	transform: translate3d(0, 0, 0);		
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;		
	-webkit-backface-visibility: hidden;	
	backface-visibility: hidden;	
}


#wrapper {
	/*padding: 20px;*/
	width: 50%;
	height: 100%;	

    margin: auto; 
}


.wrap {
  width: 100%;
  margin: 0 auto;
}

.header {
	box-sizing: border-box;
	height: 100%;	
	/*min-height: 25vh;*/
	height: 100vh;
	-webkit-transform-style: inherit;
	transform-style: inherit;
	
	transform: translateY(1px);
}

.header,
.header::before { 
	background: 50% 50% / cover; 
}

.header::before {
  content: "";
  position: fixed; /* absolute */
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  /*height: 100%; */
  background-color: #000;
  background-image: url(../images/parallax.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 75%), url('../images/parallax.jpg');
  /*background-size: cover;*/
  background-repeat: no-repeat;
 	
  -webkit-transform-origin: center center 0;
  -webkit-transform: translateZ(-1px) scale(2);
  transform-origin: center center 0;
  transform: translateY(1px);
  transform: translateZ(-1px) scale(2);

  z-index: -1;
  /*min-height: 50vh;*/
}

.header * {
  font-weight: normal;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 0;
/*  padding: 1em 0;*/
}







#title {
	position: relative;
	font-weight: normal;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 0;
	/* padding: 1em 0; */
}



.logo {
   position: absolute;
   top: 50%;
   left: 50%;
  /*
	width: 437px;
   height: 54px;
   margin-top: -27px; 
   margin-left: -218.5px; 
	*/
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.logo img {
  /*width: 50%;*/
  max-width: 86vw;
}


#container-wrapper {
	/* float: left;*/
	position: relative;	
	width: 94%;
	
	/*margin: auto;*/
	margin: -50px auto 8px auto;
	/*padding: 4px 13px 13px 6px;*/

	/*line-height: 1.7;*/
	/*  max-width: 32em;
	padding: 5% calc(50% - 16em) 35%;*/

	z-index: 2;
	/*overflow: hidden;*/
}


.container {
	/* float: left;*/
	position: relative;	
	width: 94%;
	/*margin: auto;*/
	margin: 0 auto 8px auto;
	/*padding: 4px 13px 13px 6px;*/
	background-color: hsla(0, 0%, 100%, 0.1);
	border-radius: 5px;
	/*line-height: 1.7;*/
	/*  max-width: 32em;
	padding: 5% calc(50% - 16em) 35%;*/

	z-index: 2;
	/*overflow: hidden;*/
}



#content {
	width: 480px;
	float: left;
	padding: 5px 15px;
	clear: both;
}
#middle {
	width: 400px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}
#sidebar {
	width: 948px;
	padding: 5px 15px;
	float: left;
}
footer {
	clear:both !important;
    /*padding: 13px 15px;*/
	 margin-top: 0px;
     padding-top: 0px;
}



.section-parallax {}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.copywrong {
  /* ... */
}


a.btt {
  display: none;
  position: fixed;
  z-index: 999;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 30px;
  background: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
  transform: translatey(0%);
}

a.btt .fa {
  width: 100%;
  height: 100%;
  display: table;
}

a.btt .fa-chevron-up:before {
  color: black;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

a.btt:hover {
  transform: translatey(-10%);
  transition: transform 0.3s ease-in-out;
}


@media screen and (orientation: portrait) {
  img.logo {  max-width: 86vw; }
}

@media screen and (orientation: landscape) {
  img.logo {  max-width: 86vw; }
}
